.navbar-brand {
    font-family: "Cursive", "Courier New", monospace;
    font-size: 30px;
}

h1 {background-color: rgb(253, 250, 250);
    color: rgb(83, 38, 206); 
    font-family: "Cursive", "Lucida Console", "Courier New";
    text-align: center;

}
h2 {background-color: rgb(209, 9, 9);
    height: 25px;

}
h6 {
    background-color: rgb(209, 9, 9);
    color: white; 
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  
  }
form {
    margin-right: 25px;
    margin-left: 25px;
}  
